__pycache__
/sandbox
/ops.egg-info
.idea
*~
.venv
venv
/docsenv
.vscode
.coverage
coverage.xml
/.tox
.*.swp

# Tokens and settings for `act` to run GHA locally
.env
.envrc
.secrets

# Build artifacts
/dist
/build
/docs/_build

# Smoke test artifacts
*.tar.gz
*.charm
test/charms/test_smoke/.charmcraft_output_packages.txt
test/charms/test_smoke/requirements.txt
test/charms/test_smoke/charmcraft.yaml
juju-crashdump*.tar.xz
