__pycache__
/sandbox
/ops.egg-info
.idea
*~
.venv
venv
/docsenv
.vscode
.coverage
/.tox

# Build artifacts
/dist
/build
/docs/_build

# Smoke test artifacts
*.tar.gz
*.charm
test/charms/test_smoke/requirements.txt
