recursive-exclude .github/
recursive-exclude docs/
exclude .readthedocs.yaml
exclude .gitignore

recursive-include test/
recursive-include ops/

include .pyproject.toml
include *.md
include LICENSE.txt
include MANIFEST.in
include requirements.txt
include tox.ini
