isort~=5.11
autopep8~=1.6
flake8~=4.0
flake8-docstrings~=1.6
flake8-builtins~=2.1
pyproject-flake8~=4.0
pep8-naming~=0.13
pytest~=7.2
pyright==1.1.317
pytest-operator~=0.23
coverage[toml]~=7.0
typing_extensions~=4.2

-r requirements.txt
