alabaster==0.7.13
babel==2.12.1
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.1.0
docutils==0.18.1
furo==2023.5.20
idna==3.4
imagesize==1.4.1
jinja2==3.1.2
lxd-sphinx-extensions==0.0.7
markupsafe==2.1.2
packaging==23.1
pygments==2.15.1
pyyaml==6.0
requests==2.31.0
snowballstemmer==2.2.0
soupsieve==2.4.1
sphinx==6.2.1
sphinx-basic-ng==1.0.0b1
sphinx-copybutton==0.5.2
sphinx-design==0.4.1
sphinx-tabs==3.4.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==2.0.2
websocket-client==1.5.2
