/* Define a star icon for use in admonitions */
body {
    --icon-star: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M12%2016l4.9376%202.596l-0.9432%20-5.4984l4%20-3.8936l-5.52%20-0.8l-2.4688%20-5.0024l-2.4688%205.0024l-5.52%200.8l4%203.8936l-0.9432%205.4984zM12%202c2.75%200%205.1%201%207.05%202.95C21%206.9%2022%209.25%2022%2012s-1%205.1-2.95%207.05C17.1%2021%2014.75%2022%2012%2022s-5.1-1-7.05-2.95C3%2017.1%202%2014.75%202%2012s1-5.1%202.95-7.05C6.9%203%209.25%202%2012%202z%22/%3E%3C/svg%3E");
}

/* Use the star icon for 'hint' admonitions */
.admonition.hint > .admonition-title::before {
    -webkit-mask-image: var(--icon-star);
    mask-image: var(--icon-star);
}

/* Vertically align text in table cells and add an initial horizontal line */
table.docutils.top-aligned td {
    vertical-align: top;
}
table.docutils.top-aligned tbody > tr:first-child > td {
    border-top: 1px solid var(--color-table-border);
}

/* Show a box-with-arrow icon after links */
a.show-external::after {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23333' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M0 0h24v24H0z' stroke='none'/%3E%3Cpath d='M11 7H6a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-5M10 14 20 4M15 4h5v5'/%3E%3C/svg%3E");
    margin-left: 0.25rem;
}
