name: Charmcraft Pack Test

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  charmcraft-pack:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Update 'ops' dependency in test charm to latest
        run: |
          cd examples/httpbin-demo
          sed -i -e "/^ops[ ><=]/d" -e "/canonical\/operator/d" -e "/#egg=ops/d" requirements.txt
          if [ -z "$CLONE_SHA" ]
          then
            echo -e "\ngit+$GITHUB_SERVER_URL/$GITHUB_REPOSITORY@$GITHUB_SHA#egg=ops" >> requirements.txt
          else
            # If on a PR, we need to reference the PR branch's repo and commit (not the GITHUB_SHA
            # temporary merge commit), because charmcraft pack does a git checkout which
            # can't see the temporary merge commit.
            echo -e "\ngit+$CLONE_URL@$CLONE_SHA#egg=ops" >> requirements.txt
          fi
          cat requirements.txt
        env:
          CLONE_URL: ${{ github.event.pull_request.head.repo.clone_url }}
          CLONE_SHA: ${{ github.event.pull_request.head.sha }}

      - name: Install yq
        run: sudo snap install yq

      - name: Add 'git' as a build package 
        run: |
          cd examples/httpbin-demo
          if yq -e 'has("parts")' charmcraft.yaml; then
            echo "'parts' already exists in charmcraft.yaml"
            exit 1
          fi
          yq -i '.parts.charm.build-packages = ["git"]' charmcraft.yaml
          cat charmcraft.yaml

      - name: Set up LXD
        uses: canonical/setup-lxd@a3c85fc6fb7fff43fcfeae87659e41a8f635b7dd
        with:
          channel: 5.0/stable

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Pack the charm
        run: |
          cd examples/httpbin-demo
          charmcraft pack --verbose
