name: Charmcraft Pack Test

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  charmcraft-pack:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244  # v7.1.4

      - name: Build operator wheels
        run: uv build --all

      - name: Update 'ops' dependency in test charm to latest
        run: |
          cd examples/httpbin-demo
          ops_wheel="$(realpath ../../dist/ops-*.whl)"
          uv add "$ops_wheel"
          cat pyproject.toml

      - name: Install yq
        run: sudo snap install yq

      - name: Remove 'git' from build packages (no longer needed)
        run: |
          cd examples/httpbin-demo
          if yq --exit-status '.parts.charm | has("build-packages")' charmcraft.yaml; then
            yq --inplace 'del(.parts.charm.build-packages[] | select(. == "git"))' charmcraft.yaml
          fi
          cat charmcraft.yaml

      - name: Set up LXD
        uses: canonical/setup-lxd@a3c85fc6fb7fff43fcfeae87659e41a8f635b7dd
        with:
          channel: 5.0/stable

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Pack the charm
        run: |
          cd examples/httpbin-demo
          charmcraft pack --verbose

      - name: Archive charmcraft logs
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: charmcraft-logs
          path: /root/.local/state/charmcraft/log/*.log
