name: Data Charm Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_call:

permissions: {}

jobs:
  db-charm-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - charm-repo: canonical/postgresql-operator
            commit: 94530a182bf7ce8ee5835d02a8fa75fcd7ef56c4  # 2025-07-28T13:42:22Z
          - charm-repo: canonical/postgresql-k8s-operator
            commit: ac5589692c49edc4090009162911321b5867ab7d  # 2025-07-15T08:35:15Z
          - charm-repo: canonical/mysql-operator
            commit: 7503d4d2ceec5bcc2e6a137662ea4c4c05fd437c  # rev399 rev398 rev397 2025-07-25T13:21:14Z
          - charm-repo: canonical/mysql-k8s-operator
            commit: 177347ce779f8c86bc75fd62cdfaba0bdc1d427e  # rev266 rev265 rev264 2025-07-25T13:31:29Z
    steps:
      - name: Checkout the ${{ matrix.charm-repo }} repository
        uses: actions/checkout@v5
        with:
          repository: ${{ matrix.charm-repo }}
          persist-credentials: false
          ref: ${{ matrix.commit }}

      - name: Checkout the operator repository
        uses: actions/checkout@v5
        with:
          path: myops
          persist-credentials: false

      - name: Install patch dependencies
        run: pip install poetry~=2.0

      - name: Update 'ops' dependency in test charm to latest
        run: |
          if [ -e "requirements.txt" ]; then
            sed -i -e "/^ops[ ><=]/d" -e "/canonical\/operator/d" -e "/#egg=ops/d" requirements.txt
            echo -e "\ngit+$GITHUB_SERVER_URL/$GITHUB_REPOSITORY@$GITHUB_SHA#egg=ops" >> requirements.txt
          else
            sed -i -e "s/^ops[ ><=].*/ops = {path = \"myops\"}/" pyproject.toml
            poetry lock
          fi

      - name: Install dependencies
        run: pip install tox~=4.2

      - name: Run the charm's unit tests
        run: tox -vve unit
