name: Data Charm Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_call:

permissions: {}

jobs:
  build-wheels:
    uses: ./.github/workflows/_build-wheels.yaml

  db-charm-tests:
    runs-on: ubuntu-latest
    needs: build-wheels
    strategy:
      fail-fast: false
      matrix:
        include:
          - charm-repo: canonical/postgresql-operator
            commit: 1c379314d5c2e44d2cf9a2d6986656fef5310daf  # 2025-12-19T13:24:29Z
          - charm-repo: canonical/postgresql-k8s-operator
            commit: 1ebe7272293fcc5cd88cd630d3f48041011f0c0e  # 2025-12-19T01:11:29Z
          - charm-repo: canonical/mysql-operator
            commit: bd8b3ddabe24d6bcb1b181c4ecedf8515cd98ce0  # 2025-12-15T20:38:04Z
          - charm-repo: canonical/mysql-k8s-operator
            commit: 2bce272828c2462df6ee4f11f677019ecbf982f8  # 2025-12-15T20:17:50Z
    steps:
      - name: Checkout the ${{ matrix.charm-repo }} repository
        uses: actions/checkout@v6
        with:
          repository: ${{ matrix.charm-repo }}
          persist-credentials: false
          ref: ${{ matrix.commit }}

      - name: Download operator wheels
        uses: actions/download-artifact@v7
        with:
          name: ${{ needs.build-wheels.outputs.artifact-name }}
          path: operator-wheels

      - name: Install patch dependencies
        run: pip install poetry~=2.0

      - name: Update 'ops' dependency in test charm to latest
        run: |
          ops_wheel="$(ls operator-wheels/ops-[0-9]*.whl)"
          if [ -e "requirements.txt" ]; then
            sed -i -e "/^ops[ ><=]/d" -e "/canonical\/operator/d" -e "/#egg=ops/d" requirements.txt
            echo -e "\n${ops_wheel}" >> requirements.txt
          else
            poetry remove ops --lock
            poetry add "${ops_wheel}" --lock
          fi

      - name: Install dependencies
        run: pip install tox~=4.2

      - name: Run the charm's unit tests
        run: tox -vve unit
