name: Example Charm Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_call:

permissions: {}

jobs:
  charm-unit-tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.12"]
        dir:
          - examples/httpbin-demo
          - examples/k8s-1-minimal
          - examples/k8s-2-configurable
          - examples/k8s-3-postgresql
          - examples/k8s-4-action
          - examples/k8s-5-observe

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: '${{ matrix.python-version }}'
      - name: Install tox
        run: pip install tox~=4.2
      - name: Install Charmcraft
        run: sudo snap install charmcraft --classic
      - name: Fetch any charmlibs
        run: |
          cd ${{ matrix.dir }}
          charmcraft fetch-libs
      - name: Run unit tests
        run: |
          cd ${{ matrix.dir }}
          tox -e unit
