name: Example Charm Integration Tests

on:
  workflow_dispatch:
  schedule:
    - cron: '50 15 * * 2'  # 15:50 UTC Tuesdays

permissions: {}

jobs:
  # Pack & run integration tests for machine charms.
  machine-examples-integration:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dir:
          - examples/machine-tinyproxy
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
      - name: Set up tox and tox-uv
        run: uv tool install tox --with tox-uv
      - name: Install Concierge
        run: sudo snap install --classic concierge
      - name: Prepare for deploying machine charms
        run: sudo concierge prepare -p machine
      - name: Pack charm
        run: |
          cd ${{ matrix.dir }}
          charmcraft pack
      - name: Run integration tests
        run: |
          cd ${{ matrix.dir }}
          tox -e integration

  # Pack & run integration tests for K8s charms.
  k8s-examples-integration:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dir:
          - examples/httpbin-demo
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
      - name: Set up tox and tox-uv
        run: uv tool install tox --with tox-uv
      - name: Install Concierge
        run: sudo snap install --classic concierge
      - name: Prepare for deploying K8s charms
        run: sudo concierge prepare -p microk8s
      - name: Pack charm
        run: |
          cd ${{ matrix.dir }}
          charmcraft pack
      - name: Run integration tests
        run: |
          cd ${{ matrix.dir }}
          tox -e integration

  # Pack & run integration tests for legacy K8s charms.
  # These charms don't use the profiles from Charmcraft 4, meaning:
  #   - They don't use tox-uv
  #   - They don't use Charmcraft's uv plugin
  #   - Their integration tests include a packing step
  # TODO: Move these to k8s-examples-integration after modernising the charms.
  legacy-k8s-examples-integration:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dir:
          - examples/k8s-1-minimal
          - examples/k8s-2-configurable
          - examples/k8s-3-postgresql
          - examples/k8s-4-action
          - examples/k8s-5-observe
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up tox
        run: pip install tox
      - name: Install Concierge
        run: sudo snap install --classic concierge
      - name: Prepare for deploying K8s charms
        run: sudo concierge prepare -p microk8s
      - name: Fetch any charmlibs
        run: |
          cd ${{ matrix.dir }}
          if grep -Eq "^charm-libs:" charmcraft.yaml; then
            charmcraft fetch-libs
          fi
      - name: Run integration tests
        run: |
          cd ${{ matrix.dir }}
          tox -e integration
