name: ops Integration Tests

on:
  workflow_dispatch:
  schedule:
    - cron: '42 7 25 * *'

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        preset: ['k8s', 'microk8s']
        test: ['test_direct_connection', 'test_with_tls', 'test_relation_units']

    steps:
      - run: |
           # Work around https://github.com/jnsgruk/concierge/issues/30
           sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
           sudo rm -rf /run/containerd
        if: matrix.preset == 'k8s'
      - run: sudo snap install --classic concierge
      - run: >
          sudo concierge prepare
          --juju-channel=3/stable
          --charmcraft-channel=3.x/stable
          -p "${{ matrix.preset }}"
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc  # v6.4.3
      - run: uv tool install tox --with tox-uv
      - run: tox -e integration -- --log-cli-level=INFO -s -k "${{ matrix.test }}"
