name: Observability Charm Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_call:
  workflow_dispatch:

jobs:
  o11y-charm-tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - charm-repo: canonical/alertmanager-k8s-operator
            commit: 2f12ce579d4a52149d810a92bfe52189cb4ce20e  # 2025-04-09T08:01:25Z
          - charm-repo: canonical/prometheus-k8s-operator
            commit: 239e6ab955ce52fd3b8fb1d0a8c966e6deef1388  # rev241 rev240 2025-04-10T11:30:16Z
          - charm-repo: canonical/grafana-k8s-operator
            commit: 46a02c05fd61ea7ef4fe88ddd31d5f6c7eb2058e  # 2025-04-14T22:28:18Z
    steps:
      - name: Checkout the ${{ matrix.charm-repo }} repository
        uses: actions/checkout@v4
        with:
          repository: ${{ matrix.charm-repo }}
          ref: ${{ matrix.commit }}

      - name: Install dependencies
        run: pip install tox~=4.2 uv~=0.6

      - name: Update 'ops' and 'ops-scenario' dependencies in test charm to latest
        run: |
          if [ -e "requirements.txt" ]; then
            sed -i -e "/^ops[ ><=]/d" -e "/canonical\/operator/d" -e "/#egg=ops/d" requirements.txt
            echo -e "\ngit+$GITHUB_SERVER_URL/$GITHUB_REPOSITORY@$GITHUB_SHA#egg=ops" >> requirements.txt
            sed -i -e "/^ops-scenario[ ><=]/d" -e "/^ops\[testing\][ ><=]/d" requirements.txt
            echo -e "\ngit+$GITHUB_SERVER_URL/$GITHUB_REPOSITORY@$GITHUB_SHA#egg=ops-scenario&subdirectory=testing" >> requirements.txt
          elif [ -e "uv.lock" ]; then
            uv remove ops --optional dev --frozen || echo "maybe ops[testing] is not a dev dependency"
            uv remove ops-scenario --optional dev --frozen || echo "maybe ops-scenario is not a dev dependency"
            uv remove ops --frozen
            uv add git+$GITHUB_SERVER_URL/$GITHUB_REPOSITORY@$GITHUB_SHA --raw-sources --prerelease=if-necessary-or-explicit
            uv add git+$GITHUB_SERVER_URL/$GITHUB_REPOSITORY@$GITHUB_SHA#subdirectory=testing --optional dev --raw-sources --prerelease=if-necessary-or-explicit
          else
            echo "Error: no requirements.txt or uv.lock file found"
            exit 1
          fi

      - name: Run the charm's unit tests
        if: ${{ !(matrix.disabled) }}
        run: tox -vve unit

      - name: Check if 'scenario' tox environment exists
        id: check-tox-env-scenario
        run: |
          if tox --listenvs | grep -q "^scenario$"; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
          fi

      # alertmanager-k8s has old Scenario tests, so we can't do this until those
      # are updated.
#      - name: Run the charm's scenario unit tests
#        if: ${{ steps.check-tox-env-scenario.outputs.exists == 'true' && !(matrix.disabled) }}
#        run: tox -vve scenario

      - name: Check if 'static' tox environment exists
        id: check-tox-env-static
        run: |
          if tox --listenvs | grep -q "^static$"; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Run the charm's static analysis checks
        if: ${{ steps.check-tox-env-static.outputs.exists == 'true' && !(matrix.disabled)
          }}
        run: tox -vve static

      - name: Check if 'static-charm' tox environment exists
        id: check-tox-env-static-charm
        run: |
          if tox --listenvs | grep -q "^static-charm$"; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Run the charm's static (charm) analysis checks
        if: ${{ steps.check-tox-env-static-charm.outputs.exists == 'true' && !(matrix.disabled)
          }}
        run: tox -vve static-charm
