name: Publish (ops-scenario)
on:
  push:
    tags:
      - 'scenario-7.*'

jobs:
  framework-tests:
    uses: ./.github/workflows/framework-tests.yaml
  hello-charm-tests:
    uses: ./.github/workflows/hello-charm-tests.yaml
  build-n-publish:
    name: Build and Publish ops-scenario to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
      contents: read
    needs: [framework-tests, hello-charm-tests]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
      - name: Install build dependencies
        run: pip install wheel build
      - name: Build
        run: python -m build
        working-directory: ./testing
      - name: Attest build provenance
        uses: actions/attest-build-provenance@v2.2.0
        with:
          subject-path: 'testing/dist/*'
      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
            packages-dir: ./testing/dist/
