name: Publish (ops-tracing)
on:
  push:
    tags:
      - '2.*'

permissions: {}

jobs:
  release:
    runs-on: ubuntu-latest
    environment: publish-pypi
    permissions:
      id-token: write
      attestations: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@bd01e18f51369d5a26f1651c3cb451d3417e3bba  # v6.3.1
        with:
          enable-cache: false
      - run: |
          cd tracing
          uv build --sdist --wheel ./  # https://github.com/astral-sh/uv/issues/13914
      # This step is expected to fail until the trusted publisher configuration
      # is updated in the PYPI settings.
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: ./tracing/dist/
          skip-existing: true
          verbose: true
