name: Publish (ops-tracing)
on:
  push:
    tags:
      - '2.*'
  workflow_dispatch:

permissions: {}

jobs:
  release:
    runs-on: ubuntu-latest
    environment: publish-pypi
    permissions:
      id-token: write
      attestations: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@f0ec1fc3b38f5e7cd731bb6ce540c5af426746bb  # v6.1.0
        with:
          enable-cache: false
      - run: |
          cd tracing
          uv build --sdist --wheel ./  # https://github.com/astral-sh/uv/issues/13914
      # This step is expected to fail until the trusted publisher configuration
      # is updated in the PYPI settings.
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: ./dist/
          skip-existing: true
          verbose: true
