name: Tests

on:
  pull-request:
    branches:
      - main


jobs:
  linting:
    name: Linting
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install dependencies
        run: python -m pip install tox
      - name: Run tests
        run: tox -vve lint

  unit-test:
    name: Unit Tests
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install dependencies
        run: python -m pip install tox
      - name: Run tests
        run: tox -vve unit
