name: ops Smoke Tests

on:
  workflow_dispatch:
  schedule:
    - cron: '0 7 25 * *'

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        juju-channel: ['2.9/stable', '3/stable', '4/beta']
        preset: ['machine', 'microk8s']

    steps:
      - run: sudo snap install --classic concierge
      - run: >
          sudo concierge prepare
          --juju-channel=${{ matrix.juju-channel }}
          --charmcraft-channel=3.x/stable
          -p "${{ matrix.preset }}"
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc  # v6.4.3

      - run: uv tool install tox --with tox-uv

      - name: Run smoke tests
        run: tox -e smoke
        timeout-minutes: 20  # Juju 4 gets stuck while destroying the test model
