name: ops Smoke Tests

on:
  workflow_dispatch:
  schedule:
    - cron: '0 7 25 * *'

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        juju-channel: ['2.9/stable', '3/stable', '4/stable']
        preset: ['machine', 'microk8s']
    continue-on-error: ${{ matrix.juju-channel == '4/stable' && matrix.preset == 'microk8s' }}

    steps:
      - run: sudo snap install --classic concierge
      - run: >
          sudo concierge prepare
          --juju-channel=${{ matrix.juju-channel }}
          --charmcraft-channel=3.x/stable
          -p "${{ matrix.preset }}"
      - name: Checkout the repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41  # v7.2.1

      - run: uv tool install tox --with tox-uv

      - name: Run smoke tests
        run: tox -e smoke
        timeout-minutes: 20  # Juju 4 gets stuck while destroying the test model

      - name: Archive charmcraft logs
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: charmcraft-logs
          path: /home/runner/.local/state/charmcraft/log/*.log
