name: ops Smoke Tests

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 7 25 * *'

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # pylibjuju does not currently support Juju 4.x
        juju-channel: ['2.9/stable', '3/stable']
        charmcraft-channel: ['2.x/stable', '3.x/stable']
        preset: ['machine', 'microk8s', 'k8s']

    steps:
      - name: Temporary Docker workaround
        run: |
          sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
          sudo rm -rf /run/containerd

      - name: Install concierge
        run: sudo snap install --classic concierge

      - name: Install Juju and tools
        run: sudo concierge prepare --juju-channel=${{ matrix.juju-channel }} --charmcraft-channel=${{ matrix.charmcraft-channel }} -p "${{ matrix.preset }}"

      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v5

      - name: Install tox
        run: pip install tox~=4.2

      - name: Run smoke tests
        run: tox -e smoke
