name: Test Publish (ops-scenario)
on: [workflow_dispatch, workflow_call]

permissions: {}

jobs:
  framework-tests:
    uses: ./.github/workflows/framework-tests.yaml
  observability-charm-tests:
    uses: ./.github/workflows/observability-charm-tests.yaml
  hello-charm-tests:
    uses: ./.github/workflows/hello-charm-tests.yaml
  build-n-publish:
    name: Build and Publish ops-scenario to Test PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
      contents: read
    needs: [framework-tests, observability-charm-tests, hello-charm-tests]
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@v5
      - name: Install build dependencies
        run: pip install wheel build
      - name: Build
        run: python -m build
        working-directory: ./testing
      - name: Attest build provenance
        uses: actions/attest-build-provenance@v2.2.2
        with:
          subject-path: 'testing/dist/*'
      - name: Publish to test.pypi.org
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          packages-dir: ./testing/dist/
