---
name: Publish (test)
"on":
  workflow_dispatch:

permissions:
  id-token: write
  attestations: write
  contents: read

jobs:
  build-and-publish:
    name: Build and publish to Test PYPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@bd01e18f51369d5a26f1651c3cb451d3417e3bba  # v6.3.1
        with:
          enable-cache: false
      - run: uv build --all
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
