name: Test Publish (ops-scenario)
on: [workflow_dispatch, workflow_call]

permissions: {}

jobs:
  build-n-publish:
    name: Build and Publish ops-scenario to Test PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@v5
      - name: Install build dependencies
        run: pip install wheel build
      - name: Build
        run: python -m build
        working-directory: ./testing
      - name: Attest build provenance
        uses: actions/attest-build-provenance@db473fddc028af60658334401dc6fa3ffd8669fd  # v2.3.0
        with:
          subject-path: 'testing/dist/*'
      - name: Publish to test.pypi.org
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          packages-dir: ./testing/dist/
