name: Test Publish (ops-tracing)
on: [workflow_call, workflow_dispatch]

permissions: {}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: false
      - run: |
          cd tracing
          uv build --sdist --wheel
          rm -vf dist/.gitignore  # https://github.com/astral-sh/uv/issues/11652
      # This step is expected to fail until the trusted publisher configuration
      # is updated in the test PYPI settings.
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: ./tracing/dist/
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true
          verbose: true
