name: Test Publish (ops)
on: [workflow_dispatch, workflow_call]

permissions: {}

jobs:
  build-n-publish:
    name: Build and Publish ops to Test PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@v5
      - name: Install build dependencies
        run: pip install wheel build
      - name: Build
        run: python -m build
      - name: Attest build provenance
        uses: actions/attest-build-provenance@v2
        with:
          subject-path: 'dist/*'
      - name: Publish to test.pypi.org
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc  # v1.12.4
        with:
          repository-url: https://test.pypi.org/legacy/
